.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about-hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 100px 0px;
    background-color: aliceblue;
}

.about-hero > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 64px;
    max-width: 1400px;
    padding: 0 20px;
}
.about-hero > div > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 24px;
    max-width: 680px;
}

.about-hero  h1 {
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    color: #002b5b;
    line-height: 3rem;
}

.about-hero p {
    font-size: 20px;
    text-align: left;
    color: rgb(48, 48, 48);
    line-height: 1.5rem;
}

.about-hero img {
    width: 400px;
    height: auto;
    border-radius: 8px;
}

.about-founders {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 64px;
    width: 100%;
    max-width: 1400px;
    padding: 132px 20px;
}

.about-founders h2 {
    font-size: 36px;
    font-weight: 600;
    text-align: center;
    color: #002b5b;
}

.about-founders > div {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 32px;
    width: 100%;
}

.about-mission {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 48px;
    width: 100%;
    padding: 100px 20px;
    color: white;
    background-color: #002b5b;
}

.about-mission > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    max-width: 1000px;
}

.about-mission > div > h2 {
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    line-height: 2.5rem;
}

.about-mission > div > p {
    font-size: 18px;
    text-align: center;
    line-height: 1.5rem;
}

.about-mission > p {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    line-height: 2rem;
    color: #fad02c;
}

.about-innovation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 140px 20px;
}

.about-innovation img {
    width: 400px;
    height: auto;
    border-radius: 8px;
}

.about-innovation > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 64px;
    max-width: 1400px;
}

.about-innovation > div > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    width: 100%;
}

.about-innovation > div > div > h2 {
    font-size: 36px;
    font-weight: 600;
    line-height: 2.5rem;
    color: #002b5b;
}

.about-innovation > div > div > p {
    font-size: 20px;
    line-height: 1.5rem;
    color: rgb(48, 48, 48);
}